* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-width: 1024px;
  min-height: 780px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
